@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.main-color{
    color: #FF0000;
}
/* Banner part css start here */
.heading {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url(./images/Banner\ Image.png),url(./images/background-overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 40px 140px;
    border-radius: 20px;
    background-blend-mode: color;
}

.sub-heading{
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.main-heading{
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
/* Banner part css end here */
/* Main css start here */
main{
    margin: 100px 140px;
    text-align: center;
}

.discout{
    display: block;
    margin: 0 auto;
}
.discount-heading{
    font-size: 60px;
    margin-bottom: 50px;
}

.discount-sub-heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.categori-heading {
    font-size: 50px;
    margin-bottom: 50px;
}
.category-image{
    width: 50%;
    height: auto;
}
/* Main css end here */
/* Responsive Css Start Here */
/* Default styles (for desktop) */


/* Media Query for screens 768px or less (e.g. tablets & phones) */
@media (max-width: 768px) {
  /* Header Responsive start here */
  header{
    margin: 20px 60px;
  }
  .sub-heading{
    font-size: 28px;
    color: #fff;
    text-align: center;
}
.main-heading{
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
main{
    margin: 50px 80px;
    text-align: center;
}
.discount-heading {
    font-size: 35px;
    margin-bottom: 25px;
}
.discount-sub-heading {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.categori-heading {
    font-size: 28px;
    margin-bottom: 50px;
}
.category-image{
    width: 100% ;
    height: auto ;
}
}

/* Media Query for screens 480px or less (e.g. smartphones) */
@media (max-width: 480px) {
 /* Header Responsive start here */
  header{
    margin: 20px 40px;
    height: 40vh;
  }
  .sub-heading{
    font-size: 22px;
    color: #fff;
    text-align: center;
}
.main-heading{
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

main{
    margin: 40px 60px ;
    text-align: center;
}
.discount-heading {
    font-size: 30px;
    margin-bottom: 25px;
}
.discount-sub-heading {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.categori-heading {
    font-size: 22px;
    margin-bottom: 50px;
}
.category-image{
    width: 100%;
    height: auto;
}
}

/* Responsive Css End Here */

